<section class="results">
  <div class="container px-4 py-3">
    <%if (locals.emptyInputMsg) {%>
    <p><%= emptyInputMsg %></p>
    <%} %> <%if (locals.noResultsMsg) {%>
    <p><%= noResultsMsg %></p>
    <%} %> <%if (locals.errorMsg) {%>
    <p><%= errorMsg %></p>
    <%} %> <%if (locals.results) {%>
    <h3 class="text-center">Výsledky vyhledávání</h3>
    <ol>
      <% results.forEach(result => { const {title,snippet,link } = result;%>
      <li>
        <p><span class="fw-bold">Title:</span> <%= title%></p>
        <p><span class="fw-bold">Description:</span> <%= snippet%></p>
        <p><span class="fw-bold">URL:</span> <%= link%></p>
      </li>
      <% }); %>
    </ol>
    <form action="/download" method="get" class="text-center">
      <button type="submit" class="btn btn-primary btn-lg px-4 gap-3">
        Stáhnout soubor
      </button>
    </form>
    <% } %>
  </div>
</section>
